@primary-color: #113F67;
@sub-color:#226597;

#app{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#mid{
  flex-grow: 1;
  display: flex;
}

#content{
  padding:2rem 3rem;
  flex-grow: 1;
  &>h1{
    margin-top: 0;
  }
}

header, footer {
  background-color: @primary-color;
  color: #ffffff;
}

header {
  padding: 11px 17px;
  display: flex;
  justify-content: space-between;
  &>div{
    display: inline-flex;
    align-items: center;
  }
  .brand-text {
    font-size: 30px;
    margin-left: 14px;
  }
  [type=search]{
    margin-left: 20px;
    margin-right: 5px;
    color:#ffffff;
    border-radius: 4px;
    padding:6px 10px;
    width: 220px;
    font-size: 21px;
    border-style: none;
    background-color: rgba(255,255,255,0.2);
  }
  .material-icons{
    font-size: 30px;
  }
}

[type=search]{
  padding:6px 10px;
  width: 180px;
  font-size: 14px;
}

button{
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  border-style: none;
  background-color: @sub-color;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  &.big-btn{
    font-size: 18px;
    padding:6px 14px;
  }
}

footer{
  padding: 16px 30px;
}

.gnb{
  background-color: #F3F9FB;
  padding:2rem;
  &>a{
    color:#222;
    display: block;
    font-size: 1.5rem;
    padding:6px;
    margin-bottom: 8px;
    &:hover{
       background-color: #e1eaec;
    }
  }
}